<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-ray Image Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Upload an X-ray Image to Predict</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="imageFile" name="file" accept="image/*" required>
        <button type="submit">Upload and Predict</button>
    </form>
    
    <h2>Prediction:</h2>
    <p id="predictionResult">Waiting for prediction...</p>

    <script>
        document.getElementById("uploadForm").onsubmit = async function(event) {
            event.preventDefault();
            const formData = new FormData();
            formData.append("file", document.getElementById("imageFile").files[0]);
            
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });
            
            const result = await response.json();
            document.getElementById("predictionResult").innerText = result.prediction;
        };
    </script>
</body>
</html>
